<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EMS</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/layout.css">
    <%-style%>
</head>

<body id="body">
    <div class="container">
        <section id="header" class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <div class="container-fluid" id="navItems" style="display: flex;flex-direction: row; justify-content: space-between;">
                        <div style="display: flex;flex-direction: row; justify-content: space-between;" id="collapsedIconContainer">
                            <a class="navbar-brand" href="/"><b>EMS</b></a>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="navLinks">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                                </li>
                                <li class="nav-item ms-4">
                                    <%if(locals.user){%>
                                       <b><%=user.name%></b> 
                                    <%}%>
                                </li>
                                
                                   <%if(locals.user){%> 
                                    <li class="nav-item ms-4 ">
                                         <a class="nav-link" href="/users/sign-out">SignOut</a>
                                    </li>
                                    <%}else{%>
                                     <li class="nav-item ms-4 ">
                                         <a class="nav-link" href="/users/sign-in">SignIn</a> 
                                     </li>
                                     <li class="nav-item ms-4 ">
                                         <a class="nav-link" href="/users/sign-up">SignUp</a>
                                     </li>
                                    <%}%>
                               
                            </ul>
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                    </div>
                </nav>
            </div>
        </section>

        <section id="main" class="row">
            <%-body%>
        </section>

        <section id="footer" class="row">
            <div class="col-12">
                <p>"© 2023 Aryan. All rights reserved. Aryan's Issue Tracker - Your companion in seamless project management and
                    issue resolution."</p>
            </div>
        </section>
    </div>
    <%-script%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>