<link rel="stylesheet" href="/css/signIn.css">
<div class="col-12" id="mainContent">
    <form action="/users/create-session" method="post" id="signInForm">
        <div class="form-floating mb-3 signInFormItems">
            <input type="email" class="form-control" id="signInEmail" name="email">
            <label for="signInEmail">Email address</label>
        </div>
        <div class="form-floating signInFormItems">
            <input type="password" class="form-control" id="signInPassword" name="password">
            <label for="signInPassword">Password</label>
        </div>
        <button type="submit" class="btn btn-primary mt-2">SignIn</button>
    </form>
</div>