#mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    background-color: rgb(171, 171, 175);
}
.formItems{
    width: 80%;
}
@media screen and (max-width: 800px) {
    #form {
        width: 100vw;
        height: 50vh;
    }
    .formItems{
        width: 95%;
    }
    #floatingInput{
        padding:30px;
    }
}