#body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
    margin: 0;

}
#navItems{
    display: flex;
}
#navLinks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    /* background-color: rgb(204, 0, 255); */
    margin: 0;
}
#header{
    /* background-color: rgb(24, 255, 12); */
    width: 100%;
}

#main{
    padding: 20px;
    flex:1;
    width: 100%;
    background-color: rgb(186, 186, 255);
    border-radius: 20px;
}

#footer{
    width: 100%;
    min-height: 40px;
   background-color: rgb(158, 158, 158);
   border-radius: 20px;

}
#cardLastRow{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

@media screen and (max-width: 800px) {
    #navItems {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #collapsedIconContainer {
        width: 100%;
    }
}
